// root
//### Primary.

$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);

//### Accent

$Blue: hsl(248, 32%, 49%);

//### Neutral

$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);

//screen size
$mobile: 375px;
$desktop: 1440px;

// end of roots
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(/images/bg-intro-mobile.png);
  background-color: $Red;
}
main {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  .learn-code {
    @media screen and (min-width: $desktop) {
      margin: 0;
      inline-size: 500px;
      padding: 0;
    }
    padding-top: 75px;
    inline-size: 320px;
    margin: auto;

    h1 {
      color: white;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      text-align: center;
      @media screen and (min-width: $desktop) {
        font-size: 40px;
        text-align: start;
        line-height: 45px;
        padding-bottom: 25px;
      }
    }
    p {
      @media screen and (min-width: $desktop) {
        text-align: start;
        font-size: 15px;
        white-space: normal;
      }
      color: white;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-size: small;
      white-space: pre-wrap;
    }
  }
  .login {
    @media screen and (min-width: $desktop) {
      padding: 0;
    }
    padding-top: 25px;
    text-align: center;
    .free-trial {
      max-width: 290px;
      margin: auto;
      padding-bottom: 15px;
      @media screen and (min-width: $desktop) {
        max-width: 435px;
      }

      p {
        color: white;
        background-color: $Blue;
        padding: 15px;
        border-radius: 5px;
        font-size: small;
        background-image: none;
        line-height: 20px;
        a {
          font-weight: 600;
          background-color: $Blue;
          background-image: none;
          text-decoration: none;
          color: white;
        }
      }
    }
    .data {
      border-radius: 10px;
      margin: auto;
      display: flex;
      padding: 25px;
      background-color: white;
      flex-direction: column;
      gap: 15px;
      width: calc(95% - 25px);

      :focus {
        background-image: none;
      }

      :not(:placeholder-shown) {
        background-image: none;
      }
      :placeholder-shown {
        border-color: $Red;
        border-width: 2px;
      }

      ::placeholder {
        font-weight: 600;
      }
      input {
        height: 45px;
        border: solid 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding-left: 15px;
        width: 100%;
        background-image: url(/images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: 95% 50%;
      }
      #button {
        color: white;
        background-color: $Green;
        border-style: none;
        box-shadow: 5px 5px 3px -3px $Green;
        font-weight: 600;
      }
      p {
        @media screen and (min-width: $desktop) {
          font-size: 14px;
        }
        font-size: small;
        color: $Grayish-Blue;
        span {
          color: $Red;
          font-weight: bolder;
        }
      }
    }
  }
}
